**********************************************
 Managed by Ansible
 Hostname    : {{ inventory_hostname }}
 OS          : {{ ansible_distribution }} {{ ansible_distribution_version }}
 Environment : Production
 Unauthorized access prohibited.
**********************************************
