[defaults]
inventory            = inventory/hosts.ini
roles_path           = roles
remote_user          = finn
host_key_checking    = false
private_key_file     = ~/.ssh/ansible_svc
deprecation_warnings = false
timeout              = 30
